In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
total_candidates_df=pd.read_csv(r'C:\Users\Admin\Desktop\Innomatics\Web_Scrapping\Project\maharashtra_assembly_candidates.csv')
total_candidates_df

,Sno,Candidate∇,Constituency,Party,Criminal Case,Education,Total Assets,Liabilities
0,1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~
1,2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+"
2,3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,NaN,NaN
3,4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+"
4,5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~
...,...,...,...,...,...,...,...,...
4083,4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+"
4084,4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+"
4085,4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,NaN,NaN
4086,4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~
4087,4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~

In [4]:
total_candidates_df.columns

Index(['Sno', 'Candidate∇', 'Constituency', 'Party', 'Criminal Case',
       'Education', 'Total Assets', 'Liabilities'],
      dtype='object')

In [5]:
total_candidates_df['Party'].nunique()

160

In [6]:
(total_candidates_df['Party']=='BJP').sum()

149

In [7]:
(total_candidates_df['Party']=='BJP').sum()

149

In [8]:
total_candidates_df.duplicated().sum()

0

In [9]:
# party_names=total_candidates_df['Party'].unique()
# party_with=candi={}
# candidate_list=party_names
# for i in party_names:
#     print(f"{(total_candidates_df['Party']=={i}).sum()}")

In [10]:
party_names = total_candidates_df['Party'].unique()

for i in party_names:
    count = (total_candidates_df['Party'] == i).sum()
    print(f"{i}: {count}")

IND: 2052
BJP: 149
Swarajya Nirman Sena: 1
Naki Bharatiya Ekta Party: 2
SP: 9
Shiv Sena: 81
INC: 100
Vanchit Bahujan Aaghadi: 199
SDPI: 7
MNS: 124
BSP: 237
NCP-Sharadchandra Pawar: 84
Rashtriya Samaj Paksha: 92
CPI(M): 3
NCP: 59
Shiv Sena (Uddhav Balasaheb Thackeray): 95
Republican Sena: 20
Rashtriya Maratha Party: 9
Swatantra Bharat Paksha: 3
Vikas India Party: 11
Rashtriya Swarajya Sena: 15
Hindustan Janta Party: 8
All India Majlis-E-Ittehadul Muslimeen: 17
All India Forward Bloc: 16
Peoples Party of India (Democratic): 44
Desh Janhit Party: 11
Swabhimani Paksha: 19
Maharashtra Swarajya party: 32
Bhim Sena: 14
Bharatiya Yuva Jan Ekta Party: 12
Jan Janwadi Party: 13
Janhit Lokshahi Party: 18
Aazad Samaj Party (Kanshi Ram): 28
Ambedkarite Party of India: 5
Maharashtra Vikas Aghadi: 6
Prahar Janshakti Party: 37
Social Democratic Party Of India: 2
New Rashtriya Samaj Party: 3
Republican Party of India (Khobragade): 2
Ambedkarist Republican Party: 2
Peace Party: 6
Tipu Sultan Party: 2
Akhil Bharatiya Muslim League (Secular): 2
Rashtriya Ulama Council: 7
Republican Party of India (A): 31
Right to Recall Party: 18
All India Majlis-E-Inquilab-E-Millat: 16
Mera Adhikaar Rashtriya Dal: 1
Maharashtra Rajya Samiti: 1
Yelgar Party: 2
Baliraja Party: 4
Sambhaji Brigade Party: 19
CPI: 2
Hamar Raj Party: 1
Sainik Samaj Party: 8
Sardar Vallabhbhai Patel Party: 8
Hindu Samaj Party: 7
Bharatiya Praja Surajya Paksha: 1
Peasants And Workers Party of India: 18
Bharat Jan Aadhar Party: 1
Sanay Chatrapati Shasan: 4
Bahujan Republican Socialist Party: 22
Bharat Adivasi Party: 8
Rashtriya Samaj Dal (R): 1
Kunbi Bahujan Sawrajya Party: 1
Bahujan Maha Party: 11
Republican Paksha (Khoripa): 6
Indian Secular Largest Assembly of Maharashtra: 1
Nirbhay Maharashtra Party: 12
Jai Hind Jai Bharat Rashtriya Party: 9
Jan Surajya Shakti: 6
Uttar Bhartiya Vikas Sena: 2
Samata Party: 9
Bahujan Bharat Party: 9
Lokrajya Party: 10
Aapki Apni Party (Peoples): 3
Rashtriya Gondvana Party: 4
Dhanwan Bharat Party: 1
Lok Swarajya Party: 3
All Indian Republican Party: 1
Revolutionary Marxist Party of India: 3
Bharatheeya Jawan Kisan Party: 2
Bharatiya Lokvikas Party: 1
Rashtra Samarpan Party: 2
Rashtriya Yuva Swabhiman Party: 2
All India Hindustan Congress Party: 6
Blue India Party: 3
Bahujan Samaj Party (Ambedkar): 5
Gondvana Gantantra Party: 8
Marxist Leninist Party of India (Red Flag): 1
Bhartiya Dharmanirpeksha Party: 1
Aadarsh Sangram Party: 1
Buland Bharat Party: 3
Bhartiya Veer Kisan Party: 1
Sampoorna Bharat Kranti Party: 4
Janseva Gondwana Party: 1
Lokataantrik Janaadhaar Party: 1
Bhartiya Jan Samrat Party: 6
Bhartiya Tribal Party: 5
Bhartiya Jan Vikas Aaghadi: 1
Digital Organization of Nation Party: 1
Viduthalai Chiruthaigal Katchi: 4
Swarajya Sena (Maharashtra): 1
Minorities Democratic Party: 6
Swarajya Shakti Sena: 6
Hindustan Jansewa Paksh: 1
Hindrashtra Sangh: 2
Swarajya Rashtra Nirman Sena: 2
Jay Vidarbha Party: 5
Netaji Congress Sena: 1
Sangharsh Sena: 1
Bahujan Vikas Aaghadi: 7
Indian Union Muslim League: 2
Jai Sewalal Bahujan Vikas Party: 3
Veer Janshakti Party: 1
Bharatiya Congress Paksha: 1
Insaniyat Party: 2
Bhartiya Navjawan Sena (Paksha): 2
Lokmudra Janhit Party: 1
Indian National League: 4
JD(S): 4
Kamgaar Kisan Party: 1
Dalit Soshit Pichhara Varg Adhikar Dal: 1
Socialist Party (India): 1
SUCI(C): 3
Abhinav Bharat Party: 1
Indian Political Congress Party: 2
All India National Raksha Sena: 1
Bharat Jodo Party: 1
Aim Political Party: 4
Delhi Janta Party: 2
Janata Congress: 2
Republican Bahujan Sena: 2
Jantantrik Samta Party: 1
Lokshahi Party: 1
Bhartiya Asmita Party: 1
Changemakers Party: 1
Maharashtra Lokhitwadi Party: 1
Rajarshi Shahu Vikas Aghadi: 1
Rashtriya Balmiki Sena Paksha: 1
Abhinav Bharat Janseva Paksh: 2
Rashtriya Janmanch (Secular): 2
Peoples Union Party: 1
Marathwada Mukti Morcha: 4
Lokrajya Janata Party: 1
Apni Prajahit Party: 2
Nagrik Vikas Party: 1
Azad Samaj Party: 1
National World Leader Party: 1
Akhil Bhartiya Parivar Party: 2
Open people’s Party: 1
Akhil Bharatiya Sena: 1
Republican Party of India (Reformist): 1
Republican Party of India (Democratic ): 1
Sanman Rajkiya Paksha: 1
Akhil Bhartiya Ekata Party: 1
Akhand Hind Party: 1
Bhartiya Mahasangh Party: 1
Lokshahi Ekta Party: 1
Samnak Janta Party: 1

In [11]:
# Get unique party names
party_names = total_candidates_df['Party'].unique()

# Dictionary to store party -> candidate count
party_with_candi = {}

# Count candidates per party
for i in party_names:
    count = (total_candidates_df['Party'] == i).sum()
    party_with_candi[i] = count
    print(f"Party: {i}, Candidates: {count}")

# Show total overall count
total_count = len(total_candidates_df)
print("\nTotal overall candidates:", total_count)

Party: IND, Candidates: 2052
Party: BJP, Candidates: 149
Party: Swarajya Nirman Sena, Candidates: 1
Party: Naki Bharatiya Ekta Party, Candidates: 2
Party: SP, Candidates: 9
Party: Shiv Sena, Candidates: 81
Party: INC, Candidates: 100
Party: Vanchit Bahujan Aaghadi, Candidates: 199
Party: SDPI, Candidates: 7
Party: MNS, Candidates: 124
Party: BSP, Candidates: 237
Party: NCP-Sharadchandra Pawar, Candidates: 84
Party: Rashtriya Samaj Paksha, Candidates: 92
Party: CPI(M), Candidates: 3
Party: NCP, Candidates: 59
Party: Shiv Sena (Uddhav Balasaheb Thackeray), Candidates: 95
Party: Republican Sena, Candidates: 20
Party: Rashtriya Maratha Party, Candidates: 9
Party: Swatantra Bharat Paksha, Candidates: 3
Party: Vikas India Party, Candidates: 11
Party: Rashtriya Swarajya Sena, Candidates: 15
Party: Hindustan Janta Party, Candidates: 8
Party: All India Majlis-E-Ittehadul Muslimeen, Candidates: 17
Party: All India Forward Bloc, Candidates: 16
Party: Peoples Party of India (Democratic), Candidates: 44
Party: Desh Janhit Party, Candidates: 11
Party: Swabhimani Paksha, Candidates: 19
Party: Maharashtra Swarajya party, Candidates: 32
Party: Bhim Sena, Candidates: 14
Party: Bharatiya Yuva Jan Ekta Party, Candidates: 12
Party: Jan Janwadi Party, Candidates: 13
Party: Janhit Lokshahi Party, Candidates: 18
Party: Aazad Samaj Party (Kanshi Ram), Candidates: 28
Party: Ambedkarite Party of India, Candidates: 5
Party: Maharashtra Vikas Aghadi, Candidates: 6
Party: Prahar Janshakti Party, Candidates: 37
Party: Social Democratic Party Of India, Candidates: 2
Party: New Rashtriya Samaj Party, Candidates: 3
Party: Republican Party of India (Khobragade), Candidates: 2
Party: Ambedkarist Republican Party, Candidates: 2
Party: Peace Party, Candidates: 6
Party: Tipu Sultan Party, Candidates: 2
Party: Akhil Bharatiya Muslim League (Secular), Candidates: 2
Party: Rashtriya Ulama Council, Candidates: 7
Party: Republican Party of India (A), Candidates: 31
Party: Right to Recall Party, Candidates: 18
Party: All India Majlis-E-Inquilab-E-Millat, Candidates: 16
Party: Mera Adhikaar Rashtriya Dal, Candidates: 1
Party: Maharashtra Rajya Samiti, Candidates: 1
Party: Yelgar Party, Candidates: 2
Party: Baliraja Party, Candidates: 4
Party: Sambhaji Brigade Party, Candidates: 19
Party: CPI, Candidates: 2
Party: Hamar Raj Party, Candidates: 1
Party: Sainik Samaj Party, Candidates: 8
Party: Sardar Vallabhbhai Patel Party, Candidates: 8
Party: Hindu Samaj Party, Candidates: 7
Party: Bharatiya Praja Surajya Paksha, Candidates: 1
Party: Peasants And Workers Party of India, Candidates: 18
Party: Bharat Jan Aadhar Party, Candidates: 1
Party: Sanay Chatrapati Shasan, Candidates: 4
Party: Bahujan Republican Socialist Party, Candidates: 22
Party: Bharat Adivasi Party, Candidates: 8
Party: Rashtriya Samaj Dal (R), Candidates: 1
Party: Kunbi Bahujan Sawrajya Party, Candidates: 1
Party: Bahujan Maha Party, Candidates: 11
Party: Republican Paksha (Khoripa), Candidates: 6
Party: Indian Secular Largest Assembly of Maharashtra, Candidates: 1
Party: Nirbhay Maharashtra Party, Candidates: 12
Party: Jai Hind Jai Bharat Rashtriya Party, Candidates: 9
Party: Jan Surajya Shakti, Candidates: 6
Party: Uttar Bhartiya Vikas Sena, Candidates: 2
Party: Samata Party, Candidates: 9
Party: Bahujan Bharat Party, Candidates: 9
Party: Lokrajya Party, Candidates: 10
Party: Aapki Apni Party (Peoples), Candidates: 3
Party: Rashtriya Gondvana Party, Candidates: 4
Party: Dhanwan Bharat Party, Candidates: 1
Party: Lok Swarajya Party, Candidates: 3
Party: All Indian Republican Party, Candidates: 1
Party: Revolutionary Marxist Party of India, Candidates: 3
Party: Bharatheeya Jawan Kisan Party, Candidates: 2
Party: Bharatiya Lokvikas Party, Candidates: 1
Party: Rashtra Samarpan Party, Candidates: 2
Party: Rashtriya Yuva Swabhiman Party, Candidates: 2
Party: All India Hindustan Congress Party, Candidates: 6
Party: Blue India Party, Candidates: 3
Party: Bahujan Samaj Party (Ambedkar), Candidates: 5
Party: Gondvana Gantantra Party, Candidates: 8
Party: Marxist Leninist Party of India (Red Flag), Candidates: 1
Party: Bhartiya Dharmanirpeksha Party, Candidates: 1
Party: Aadarsh Sangram Party, Candidates: 1
Party: Buland Bharat Party, Candidates: 3
Party: Bhartiya Veer Kisan Party, Candidates: 1
Party: Sampoorna Bharat Kranti Party, Candidates: 4
Party: Janseva Gondwana Party, Candidates: 1
Party: Lokataantrik Janaadhaar Party, Candidates: 1
Party: Bhartiya Jan Samrat Party, Candidates: 6
Party: Bhartiya Tribal Party, Candidates: 5
Party: Bhartiya Jan Vikas Aaghadi, Candidates: 1
Party: Digital Organization of Nation Party, Candidates: 1
Party: Viduthalai Chiruthaigal Katchi, Candidates: 4
Party: Swarajya Sena (Maharashtra), Candidates: 1
Party: Minorities Democratic Party, Candidates: 6
Party: Swarajya Shakti Sena, Candidates: 6
Party: Hindustan Jansewa Paksh, Candidates: 1
Party: Hindrashtra Sangh, Candidates: 2
Party: Swarajya Rashtra Nirman Sena, Candidates: 2
Party: Jay Vidarbha Party, Candidates: 5
Party: Netaji Congress Sena, Candidates: 1
Party: Sangharsh Sena, Candidates: 1
Party: Bahujan Vikas Aaghadi, Candidates: 7
Party: Indian Union Muslim League, Candidates: 2
Party: Jai Sewalal Bahujan Vikas Party, Candidates: 3
Party: Veer Janshakti Party, Candidates: 1
Party: Bharatiya Congress Paksha, Candidates: 1
Party: Insaniyat Party, Candidates: 2
Party: Bhartiya Navjawan Sena (Paksha), Candidates: 2
Party: Lokmudra Janhit Party, Candidates: 1
Party: Indian National League, Candidates: 4
Party: JD(S), Candidates: 4
Party: Kamgaar Kisan Party, Candidates: 1
Party: Dalit Soshit Pichhara Varg Adhikar Dal, Candidates: 1
Party: Socialist Party (India), Candidates: 1
Party: SUCI(C), Candidates: 3
Party: Abhinav Bharat Party, Candidates: 1
Party: Indian Political Congress Party, Candidates: 2
Party: All India National Raksha Sena, Candidates: 1
Party: Bharat Jodo Party, Candidates: 1
Party: Aim Political Party, Candidates: 4
Party: Delhi Janta Party, Candidates: 2
Party: Janata Congress, Candidates: 2
Party: Republican Bahujan Sena, Candidates: 2
Party: Jantantrik Samta Party, Candidates: 1
Party: Lokshahi Party, Candidates: 1
Party: Bhartiya Asmita Party, Candidates: 1
Party: Changemakers Party, Candidates: 1
Party: Maharashtra Lokhitwadi Party, Candidates: 1
Party: Rajarshi Shahu Vikas Aghadi, Candidates: 1
Party: Rashtriya Balmiki Sena Paksha, Candidates: 1
Party: Abhinav Bharat Janseva Paksh, Candidates: 2
Party: Rashtriya Janmanch (Secular), Candidates: 2
Party: Peoples Union Party, Candidates: 1
Party: Marathwada Mukti Morcha, Candidates: 4
Party: Lokrajya Janata Party, Candidates: 1
Party: Apni Prajahit Party, Candidates: 2
Party: Nagrik Vikas Party, Candidates: 1
Party: Azad Samaj Party, Candidates: 1
Party: National World Leader Party, Candidates: 1
Party: Akhil Bhartiya Parivar Party, Candidates: 2
Party: Open people’s Party, Candidates: 1
Party: Akhil Bharatiya Sena, Candidates: 1
Party: Republican Party of India (Reformist), Candidates: 1
Party: Republican Party of India (Democratic ), Candidates: 1
Party: Sanman Rajkiya Paksha, Candidates: 1
Party: Akhil Bhartiya Ekata Party, Candidates: 1
Party: Akhand Hind Party, Candidates: 1
Party: Bhartiya Mahasangh Party, Candidates: 1
Party: Lokshahi Ekta Party, Candidates: 1
Party: Samnak Janta Party, Candidates: 1

Total overall candidates: 4088

In [56]:
# Unique party names
party_names = total_candidates_df['Party'].unique()

# Dictionary to hold party wise candidate count
party_with = {}

# Calculate counts for each party
for party in party_names:
    count = (total_candidates_df['Party'] == party).sum()
    party_with[party] = count
    print(f"{party} = {count}")

# Now calculate total from party wise counts
total_from_parties = sum(party_with.values())
print("\nTotal from party-wise sum:", total_from_parties)

# Compare with total rows in the dataframe
print("Total candidates in dataframe:", len(total_candidates_df))

IND = 2052
BJP = 149
Swarajya Nirman Sena = 1
Naki Bharatiya Ekta Party = 2
SP = 9
Shiv Sena = 81
INC = 100
Vanchit Bahujan Aaghadi = 199
SDPI = 7
MNS = 124
BSP = 237
NCP-Sharadchandra Pawar = 84
Rashtriya Samaj Paksha = 92
CPI(M) = 3
NCP = 59
Shiv Sena (Uddhav Balasaheb Thackeray) = 95
Republican Sena = 20
Rashtriya Maratha Party = 9
Swatantra Bharat Paksha = 3
Vikas India Party = 11
Rashtriya Swarajya Sena = 15
Hindustan Janta Party = 8
All India Majlis-E-Ittehadul Muslimeen = 17
All India Forward Bloc = 16
Peoples Party of India (Democratic) = 44
Desh Janhit Party = 11
Swabhimani Paksha = 19
Maharashtra Swarajya party = 32
Bhim Sena = 14
Bharatiya Yuva Jan Ekta Party = 12
Jan Janwadi Party = 13
Janhit Lokshahi Party = 18
Aazad Samaj Party (Kanshi Ram) = 28
Ambedkarite Party of India = 5
Maharashtra Vikas Aghadi = 6
Prahar Janshakti Party = 37
Social Democratic Party Of India = 2
New Rashtriya Samaj Party = 3
Republican Party of India (Khobragade) = 2
Ambedkarist Republican Party = 2
Peace Party = 6
Tipu Sultan Party = 2
Akhil Bharatiya Muslim League (Secular) = 2
Rashtriya Ulama Council = 7
Republican Party of India (A) = 31
Right to Recall Party = 18
All India Majlis-E-Inquilab-E-Millat = 16
Mera Adhikaar Rashtriya Dal = 1
Maharashtra Rajya Samiti = 1
Yelgar Party = 2
Baliraja Party = 4
Sambhaji Brigade Party = 19
CPI = 2
Hamar Raj Party = 1
Sainik Samaj Party = 8
Sardar Vallabhbhai Patel Party = 8
Hindu Samaj Party = 7
Bharatiya Praja Surajya Paksha = 1
Peasants And Workers Party of India = 18
Bharat Jan Aadhar Party = 1
Sanay Chatrapati Shasan = 4
Bahujan Republican Socialist Party = 22
Bharat Adivasi Party = 8
Rashtriya Samaj Dal (R) = 1
Kunbi Bahujan Sawrajya Party = 1
Bahujan Maha Party = 11
Republican Paksha (Khoripa) = 6
Indian Secular Largest Assembly of Maharashtra = 1
Nirbhay Maharashtra Party = 12
Jai Hind Jai Bharat Rashtriya Party = 9
Jan Surajya Shakti = 6
Uttar Bhartiya Vikas Sena = 2
Samata Party = 9
Bahujan Bharat Party = 9
Lokrajya Party = 10
Aapki Apni Party (Peoples) = 3
Rashtriya Gondvana Party = 4
Dhanwan Bharat Party = 1
Lok Swarajya Party = 3
All Indian Republican Party = 1
Revolutionary Marxist Party of India = 3
Bharatheeya Jawan Kisan Party = 2
Bharatiya Lokvikas Party = 1
Rashtra Samarpan Party = 2
Rashtriya Yuva Swabhiman Party = 2
All India Hindustan Congress Party = 6
Blue India Party = 3
Bahujan Samaj Party (Ambedkar) = 5
Gondvana Gantantra Party = 8
Marxist Leninist Party of India (Red Flag) = 1
Bhartiya Dharmanirpeksha Party = 1
Aadarsh Sangram Party = 1
Buland Bharat Party = 3
Bhartiya Veer Kisan Party = 1
Sampoorna Bharat Kranti Party = 4
Janseva Gondwana Party = 1
Lokataantrik Janaadhaar Party = 1
Bhartiya Jan Samrat Party = 6
Bhartiya Tribal Party = 5
Bhartiya Jan Vikas Aaghadi = 1
Digital Organization of Nation Party = 1
Viduthalai Chiruthaigal Katchi = 4
Swarajya Sena (Maharashtra) = 1
Minorities Democratic Party = 6
Swarajya Shakti Sena = 6
Hindustan Jansewa Paksh = 1
Hindrashtra Sangh = 2
Swarajya Rashtra Nirman Sena = 2
Jay Vidarbha Party = 5
Netaji Congress Sena = 1
Sangharsh Sena = 1
Bahujan Vikas Aaghadi = 7
Indian Union Muslim League = 2
Jai Sewalal Bahujan Vikas Party = 3
Veer Janshakti Party = 1
Bharatiya Congress Paksha = 1
Insaniyat Party = 2
Bhartiya Navjawan Sena (Paksha) = 2
Lokmudra Janhit Party = 1
Indian National League = 4
JD(S) = 4
Kamgaar Kisan Party = 1
Dalit Soshit Pichhara Varg Adhikar Dal = 1
Socialist Party (India) = 1
SUCI(C) = 3
Abhinav Bharat Party = 1
Indian Political Congress Party = 2
All India National Raksha Sena = 1
Bharat Jodo Party = 1
Aim Political Party = 4
Delhi Janta Party = 2
Janata Congress = 2
Republican Bahujan Sena = 2
Jantantrik Samta Party = 1
Lokshahi Party = 1
Bhartiya Asmita Party = 1
Changemakers Party = 1
Maharashtra Lokhitwadi Party = 1
Rajarshi Shahu Vikas Aghadi = 1
Rashtriya Balmiki Sena Paksha = 1
Abhinav Bharat Janseva Paksh = 2
Rashtriya Janmanch (Secular) = 2
Peoples Union Party = 1
Marathwada Mukti Morcha = 4
Lokrajya Janata Party = 1
Apni Prajahit Party = 2
Nagrik Vikas Party = 1
Azad Samaj Party = 1
National World Leader Party = 1
Akhil Bhartiya Parivar Party = 2
Open people’s Party = 1
Akhil Bharatiya Sena = 1
Republican Party of India (Reformist) = 1
Republican Party of India (Democratic ) = 1
Sanman Rajkiya Paksha = 1
Akhil Bhartiya Ekata Party = 1
Akhand Hind Party = 1
Bhartiya Mahasangh Party = 1
Lokshahi Ekta Party = 1
Samnak Janta Party = 1

Total from party-wise sum: 4088
Total candidates in dataframe: 4088

In [14]:
total_candidates_df.groupby['Party'][''].count()

TypeError: 'method' object is not subscriptable

In [15]:
total_candidates_df

,Sno,Candidate∇,Constituency,Party,Criminal Case,Education,Total Assets,Liabilities
0,1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~
1,2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+"
2,3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,NaN,NaN
3,4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+"
4,5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~
...,...,...,...,...,...,...,...,...
4083,4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+"
4084,4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+"
4085,4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,NaN,NaN
4086,4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~
4087,4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~

In [16]:
total_candidates_df.columns

Index(['Sno', 'Candidate∇', 'Constituency', 'Party', 'Criminal Case',
       'Education', 'Total Assets', 'Liabilities'],
      dtype='object')

In [18]:
total_candidates_df.describe()

               Sno  Criminal Case
count  4088.000000    4088.000000
mean   2044.500000       0.881605
std    1180.248279       2.489356
min       1.000000       0.000000
25%    1022.750000       0.000000
50%    2044.500000       0.000000
75%    3066.250000       1.000000
max    4088.000000      40.000000

In [21]:
total_candidates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4088 entries, 0 to 4087
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sno            4088 non-null   int64
 1   Candidate∇     4088 non-null   object
 2   Constituency   4088 non-null   object
 3   Party          4088 non-null   object
 4   Criminal Case  4088 non-null   int64
 5   Education      4088 non-null   object
 6   Total Assets   2726 non-null   object
 7   Liabilities    2726 non-null   object
dtypes: int64(2), object(6)
memory usage: 255.6+ KB

In [25]:
total_candidates_df.isnull().sum()

Sno                 0
Candidate∇          0
Constituency        0
Party               0
Criminal Case       0
Education           0
Total Assets     1362
Liabilities      1362
dtype: int64

In [26]:
total_candidates_df.duplicated().sum()

0

In [22]:
total_candidates_df.columns

Index(['Sno', 'Candidate∇', 'Constituency', 'Party', 'Criminal Case',
       'Education', 'Total Assets', 'Liabilities'],
      dtype='object')

In [57]:
total_candidates_df=total_candidates_df.rename(columns={'Sno':'Index',
                                                       'Candidate∇':'Candidate',
                                                       'Constituency':'Constituency',
                                                      'Party':'Party',
                                                      'Criminal Case':'Criminal_Case',
                                                       'Education':'Education',
                                                       'Total Assets':'Total_Assets',
                                                       'Liabilities':'Liabilities'})

In [58]:
total_candidates_df

,Index,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities
0,1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~
1,2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+"
2,3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,NaN,NaN
3,4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+"
4,5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~
...,...,...,...,...,...,...,...,...
4083,4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+"
4084,4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+"
4085,4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,NaN,NaN
4086,4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~
4087,4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~

In [59]:
# Set 'Index' column as the index of the dataframe
total_candidates_df = total_candidates_df.set_index("Index")

In [60]:
# Verify
total_candidates_df.head()

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities
Index,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+"
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,NaN,NaN
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+"
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~

In [61]:
# Replace NaN with "Rs 0 ~ 0"
total_candidates_df["Total_Assets"] = total_candidates_df["Total_Assets"].fillna("Rs 0 ~ 0")
total_candidates_df["Liabilities"] = total_candidates_df["Liabilities"].fillna("Rs 0 ~ 0")

In [62]:
total_candidates_df.isnull().sum()

Candidate        0
Constituency     0
Party            0
Criminal_Case    0
Education        0
Total_Assets     0
Liabilities      0
dtype: int64

In [63]:
total_candidates_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities
Index,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+"
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+"
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~
...,...,...,...,...,...,...,...
4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+"
4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+"
4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0
4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~
4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~

In [64]:
import re

def clean_asset_value(value):
    """Extract numeric value (remove Rs, commas, words)."""
    try:
        # Example: "Rs 8,00,000 ~ 8 Lacs+" → "800000"
        num = re.findall(r'[\d,]+', value)
        if num:
            return int(num[0].replace(",", ""))  # remove commas
        else:
            return 0
    except:
        return 0

def clean_asset_label(value):
    """Extract human readable part after ~ sign."""
    try:
        if "~" in value:
            return value.split("~")[1].strip()
        else:
            return value
    except:
        return value

In [65]:
total_candidates_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities
Index,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+"
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+"
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~
...,...,...,...,...,...,...,...
4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+"
4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+"
4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0
4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~
4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~

In [66]:
# For Total Assets
total_candidates_df["Total_Assets_Value"] = total_candidates_df["Total_Assets"].apply(clean_asset_value)
total_candidates_df["Total_Assets_Label"] = total_candidates_df["Total_Assets"].apply(clean_asset_label)

# For Liabilities
total_candidates_df["Liabilities_Value"] = total_candidates_df["Liabilities"].apply(clean_asset_value)
total_candidates_df["Liabilities_Label"] = total_candidates_df["Liabilities"].apply(clean_asset_label)

In [67]:
total_candidates_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label
Index,,,,,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~,800000,8 Lacs+,0,
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+",1185000,11 Lacs+,80000,80 Thou+
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~,740000,7 Lacs+,0,
...,...,...,...,...,...,...,...,...,...,...,...
4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+",54799087,5 Crore+,39832328,3 Crore+
4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+",369053000,36 Crore+,87750352,8 Crore+
4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0
4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~,1288066,12 Lacs+,0,
4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~,31000,31 Thou+,0,

In [68]:
total_candidates_df["Net_Worth"] = total_candidates_df["Total_Assets_Value"] - total_candidates_df["Liabilities_Value"]

In [69]:
total_candidates_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label,Net_Worth
Index,,,,,,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~,800000,8 Lacs+,0,,800000
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+,131609078
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+",1185000,11 Lacs+,80000,80 Thou+,1105000
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~,740000,7 Lacs+,0,,740000
...,...,...,...,...,...,...,...,...,...,...,...,...
4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+",54799087,5 Crore+,39832328,3 Crore+,14966759
4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+",369053000,36 Crore+,87750352,8 Crore+,281302648
4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0
4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~,1288066,12 Lacs+,0,,1288066
4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~,31000,31 Thou+,0,,31000

In [70]:
def number_to_words(num):
    """Convert number into Indian numbering system words (Lakh, Crore)."""
    if num >= 1_00_00_000:   # Crores
        return f"{num/1_00_00_000:.2f} Crore+"
    elif num >= 1_00_000:    # Lakhs
        return f"{num/1_00_000:.2f} Lakh+"
    elif num >= 1_000:       # Thousands
        return f"{num/1_000:.2f} Thousand+"
    elif num > 0:
        return str(num)
    else:
        return "0"

In [71]:
total_candidates_df["Net_Worth"] = (
    total_candidates_df["Total_Assets_Value"] - total_candidates_df["Liabilities_Value"]
)

total_candidates_df["Net_Worth_Words"] = total_candidates_df["Net_Worth"].apply(number_to_words)

In [72]:
print(total_candidates_df[["Total_Assets_Value", "Liabilities_Value", "Net_Worth", "Net_Worth_Words"]].head())

       Total_Assets_Value  Liabilities_Value  Net_Worth Net_Worth_Words
Index
1                  800000                  0     800000      8.00 Lakh+
2               135574362            3965284  131609078    13.16 Crore+
3                       0                  0          0               0
4                 1185000              80000    1105000     11.05 Lakh+
5                  740000                  0     740000      7.40 Lakh+

In [73]:
total_candidates_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label,Net_Worth,Net_Worth_Words
Index,,,,,,,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~,800000,8 Lacs+,0,,800000,8.00 Lakh+
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+,131609078,13.16 Crore+
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+",1185000,11 Lacs+,80000,80 Thou+,1105000,11.05 Lakh+
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~,740000,7 Lacs+,0,,740000,7.40 Lakh+
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+",54799087,5 Crore+,39832328,3 Crore+,14966759,1.50 Crore+
4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+",369053000,36 Crore+,87750352,8 Crore+,281302648,28.13 Crore+
4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0
4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~,1288066,12 Lacs+,0,,1288066,12.88 Lakh+
4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~,31000,31 Thou+,0,,31000,31.00 Thousand+

In [74]:
district_df=pd.read_excel(r"C:\Users\Admin\Desktop\Innomatics\Web_Scrapping\Project\ACs.xlsx")
district_df

    District Name          Assembly Name
0      Nandurabar     1 - Akkalkuwa (ST)
1             NaN       2 - Shahada (ST)
2             NaN     3 - Nandurbar (ST)
3             NaN       4 - Nawapur (ST)
4           Dhule         5 - Sakri (ST)
..            ...                    ...
283           NaN  129 - Vekramgrth (ST)
284           NaN     130 - Palghar (ST)
285           NaN      131 - Boisar (ST)
286           NaN       132 - Nalasopara
287           NaN            133 - Vasai

[288 rows x 2 columns]

In [75]:
import pandas as pd

# Read your file
district_df = pd.read_excel(r"C:\Users\Admin\Desktop\Innomatics\Web_Scrapping\Project\ACs.xlsx")

# Step 1: Remove numbers and '-' from Assembly Name
district_df['Assembly Name'] = district_df['Assembly Name'].str.replace(r'^\d+\s*-\s*', '', regex=True)

# Step 2: Forward fill missing District Names
district_df['District Name'] = district_df['District Name'].ffill()

print(district_df.head(10))

  District Name   Assembly Name
0    Nandurabar  Akkalkuwa (ST)
1    Nandurabar    Shahada (ST)
2    Nandurabar  Nandurbar (ST)
3    Nandurabar    Nawapur (ST)
4         Dhule      Sakri (ST)
5         Dhule     Dhule Rural
6         Dhule      Dhule City
7         Dhule      Sindhkheda
8         Dhule    Shirpur (ST)
9       Jalgaon     Chopda (ST)

In [76]:
# Save the cleaned dataframe into CSV
district_df.to_csv(r"C:\Users\Admin\Desktop\Innomatics\Web_Scrapping\Project\ACs_cleaned.csv", index=False)

print("Cleaned data saved successfully!")

Cleaned data saved successfully!

In [77]:
district_df

    District Name    Assembly Name
0      Nandurabar   Akkalkuwa (ST)
1      Nandurabar     Shahada (ST)
2      Nandurabar   Nandurbar (ST)
3      Nandurabar     Nawapur (ST)
4           Dhule       Sakri (ST)
..            ...              ...
283       Palghar  Vekramgrth (ST)
284       Palghar     Palghar (ST)
285       Palghar      Boisar (ST)
286       Palghar       Nalasopara
287       Palghar            Vasai

[288 rows x 2 columns]

In [78]:
# Merge candidate data with district data
merged_df = total_candidates_df.merge(
    district_df,
    left_on="Constituency",   # column from candidate dataset
    right_on="Assembly Name", # column from district dataset
    how="left"                # keep all candidates, even if some don't match
)

# Drop 'Assembly Name' since it's duplicate of Constituency
merged_df = merged_df.drop(columns=["Assembly Name"])

# Rename 'District Name' column to just 'District'
merged_df = merged_df.rename(columns={"District Name": "District"})

print(merged_df.head(10))

                              Candidate      Constituency  \
0                    Ajay Piraji Kamble        UDGIR (SC)
1                  Amol Haribhau Jawale             RAVER
2                Dr. Vijay Bhika Pagare      KALYAN  WEST
3                Madhav Narsing Mekewad            BHOKAR
4  A. Kadir Mastan Sayyed (Goregaonkar)           HINGOLI
5                      A. T. Nana Patil           ERANDOL
6             A.Pasha A.Gaffar Khureshi          PARBHANI
7            Aadarsh Ravishankar Thakur       NAGPUR WEST
8             Aaisha Siddiqua Rauf Baba  MALEGAON CENTRAL
9                     Aakash Bhau Pawar           INDAPUR

                  Party  Criminal_Case              Education  \
0                   IND              0               Graduate
1                   BJP              0          Post Graduate
2                   IND              0  Graduate Professional
3                   IND              0          Post Graduate
4                   IND              0               8th Pass
5                   IND              0               Graduate
6                   IND              0               8th Pass
7                   IND              0             Illiterate
8                   IND              0               5th Pass
9  Swarajya Nirman Sena              0               Graduate

                  Total_Assets              Liabilities  Total_Assets_Value  \
0        Rs 8,00,000 ~ 8 Lacs+                   Rs 0 ~              800000
1  Rs 13,55,74,362 ~ 13 Crore+  Rs 39,65,284 ~ 39 Lacs+           135574362
2                     Rs 0 ~ 0                 Rs 0 ~ 0                   0
3      Rs 11,85,000 ~ 11 Lacs+     Rs 80,000 ~ 80 Thou+             1185000
4        Rs 7,40,000 ~ 7 Lacs+                   Rs 0 ~              740000
5                     Rs 0 ~ 0                 Rs 0 ~ 0                   0
6      Rs 89,30,000 ~ 89 Lacs+    Rs 1,00,000 ~ 1 Lacs+             8930000
7         Rs 10,000 ~ 10 Thou+                   Rs 0 ~               10000
8                     Rs 0 ~ 0                 Rs 0 ~ 0                   0
9        Rs 1,51,000 ~ 1 Lacs+                   Rs 0 ~              151000

  Total_Assets_Label  Liabilities_Value Liabilities_Label  Net_Worth  \
0            8 Lacs+                  0                       800000
1          13 Crore+            3965284          39 Lacs+  131609078
2                  0                  0                 0          0
3           11 Lacs+              80000          80 Thou+    1105000
4            7 Lacs+                  0                       740000
5                  0                  0                 0          0
6           89 Lacs+             100000           1 Lacs+    8830000
7           10 Thou+                  0                        10000
8                  0                  0                 0          0
9            1 Lacs+                  0                       151000

   Net_Worth_Words District
0       8.00 Lakh+      NaN
1     13.16 Crore+      NaN
2                0      NaN
3      11.05 Lakh+      NaN
4       7.40 Lakh+      NaN
5                0      NaN
6      88.30 Lakh+      NaN
7  10.00 Thousand+      NaN
8                0      NaN
9       1.51 Lakh+      NaN

In [79]:
total_candidates_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label,Net_Worth,Net_Worth_Words
Index,,,,,,,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~,800000,8 Lacs+,0,,800000,8.00 Lakh+
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+,131609078,13.16 Crore+
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+",1185000,11 Lacs+,80000,80 Thou+,1105000,11.05 Lakh+
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~,740000,7 Lacs+,0,,740000,7.40 Lakh+
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+",54799087,5 Crore+,39832328,3 Crore+,14966759,1.50 Crore+
4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+",369053000,36 Crore+,87750352,8 Crore+,281302648,28.13 Crore+
4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0
4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~,1288066,12 Lacs+,0,,1288066,12.88 Lakh+
4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~,31000,31 Thou+,0,,31000,31.00 Thousand+

In [80]:
merged_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label,Net_Worth,Net_Worth_Words,District
0,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~,800000,8 Lacs+,0,,800000,8.00 Lakh+,NaN
1,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+,131609078,13.16 Crore+,NaN
2,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,NaN
3,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+",1185000,11 Lacs+,80000,80 Thou+,1105000,11.05 Lakh+,NaN
4,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~,740000,7 Lacs+,0,,740000,7.40 Lakh+,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4083,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+",54799087,5 Crore+,39832328,3 Crore+,14966759,1.50 Crore+,NaN
4084,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+",369053000,36 Crore+,87750352,8 Crore+,281302648,28.13 Crore+,NaN
4085,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,NaN
4086,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~,1288066,12 Lacs+,0,,1288066,12.88 Lakh+,NaN
4087,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~,31000,31 Thou+,0,,31000,31.00 Thousand+,NaN

In [63]:
merged_df["District"].unique()

array([nan], dtype=object)

In [81]:
print(total_candidates_df["Constituency"])
print(district_df)

Index
1           UDGIR (SC)
2                RAVER
3         KALYAN  WEST
4               BHOKAR
5              HINGOLI
             ...
4084          AKKALKOT
4085       VANDRE EAST
4086       VANDRE EAST
4087       LATUR RURAL
4088    NAGPUR CENTRAL
Name: Constituency, Length: 4088, dtype: object
    District Name    Assembly Name
0      Nandurabar   Akkalkuwa (ST)
1      Nandurabar     Shahada (ST)
2      Nandurabar   Nandurbar (ST)
3      Nandurabar     Nawapur (ST)
4           Dhule       Sakri (ST)
..            ...              ...
283       Palghar  Vekramgrth (ST)
284       Palghar     Palghar (ST)
285       Palghar      Boisar (ST)
286       Palghar       Nalasopara
287       Palghar            Vasai

[288 rows x 2 columns]

In [82]:
# Clean column names for safe merging
total_candidates_df["Constituency_clean"] = total_candidates_df["Constituency"].str.strip().str.upper()
district_df["Assembly_clean"] = district_df["Assembly Name"].str.strip().str.upper()

# Merge Constituency with District mapping
merged_df = total_candidates_df.merge(
    district_df,
    left_on="Constituency_clean",
    right_on="Assembly_clean",
    how="left"
)

# Keep only needed columns
merged_df = merged_df[["Constituency", "District Name"]]

print(merged_df.head(20))

          Constituency District Name
0           UDGIR (SC)         Latur
1                RAVER       Jalgaon
2         KALYAN  WEST         Thane
3               BHOKAR        Nanded
4              HINGOLI       Hingoli
5              ERANDOL       Jalgaon
6             PARBHANI      Parbhani
7          NAGPUR WEST        Nagpur
8     MALEGAON CENTRAL           NaN
9              INDAPUR          Pune
10          MOHOL (SC)       Solapur
11           MUMBADEVI   Mumbai City
12             ERANDOL       Jalgaon
13               THANE         Thane
14             PARVATI          Pune
15              BARSHI       Solapur
16             BYCULLA   Mumbai City
17  AURANGABAD CENTRAL           NaN
18                BEED          Beed
19     AURANGABAD EAST           NaN

In [83]:
merged_df

        Constituency    District Name
0         UDGIR (SC)            Latur
1              RAVER          Jalgaon
2       KALYAN  WEST            Thane
3             BHOKAR           Nanded
4            HINGOLI          Hingoli
...              ...              ...
4083        AKKALKOT          Solapur
4084     VANDRE EAST  Mumbai Suburban
4085     VANDRE EAST  Mumbai Suburban
4086     LATUR RURAL            Latur
4087  NAGPUR CENTRAL           Nagpur

[4088 rows x 2 columns]

In [84]:
# 1. Create dictionary mapping from cleaned constituency data
mapping_dict = dict(zip(merged_df["Constituency"], merged_df["District Name"]))

# 2. Map district names into your main dataframe
total_candidates_df["District"] = total_candidates_df["Constituency"].map(mapping_dict)

In [85]:
total_candidates_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label,Net_Worth,Net_Worth_Words,Constituency_clean,District
Index,,,,,,,,,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~,800000,8 Lacs+,0,,800000,8.00 Lakh+,UDGIR (SC),Latur
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+,131609078,13.16 Crore+,RAVER,Jalgaon
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,KALYAN WEST,Thane
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+",1185000,11 Lacs+,80000,80 Thou+,1105000,11.05 Lakh+,BHOKAR,Nanded
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~,740000,7 Lacs+,0,,740000,7.40 Lakh+,HINGOLI,Hingoli
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+",54799087,5 Crore+,39832328,3 Crore+,14966759,1.50 Crore+,AKKALKOT,Solapur
4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+",369053000,36 Crore+,87750352,8 Crore+,281302648,28.13 Crore+,VANDRE EAST,Mumbai Suburban
4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,VANDRE EAST,Mumbai Suburban
4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~,1288066,12 Lacs+,0,,1288066,12.88 Lakh+,LATUR RURAL,Latur
4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~,31000,31 Thou+,0,,31000,31.00 Thousand+,NAGPUR CENTRAL,Nagpur

In [86]:
total_candidates_df.shape

(4088, 15)

In [87]:
total_candidates_df['Liabilities_Label'].isnull().sum()

0

In [88]:
import numpy as np

# Replace empty strings and whitespace-only values with NaN
total_candidates_df["Liabilities_Label"] = total_candidates_df["Liabilities_Label"].replace(r'^\s*$', np.nan, regex=True)

In [89]:
total_candidates_df['Liabilities_Value'].isnull().sum()

0

In [90]:
total_candidates_df['Liabilities_Value'].duplicated().sum()

2948

In [91]:
winners_candidate_df=pd.read_csv(r"C:\Users\Admin\Desktop\Innomatics\Web_Scrapping\Project\maharashtra_assembly_winners_candidates.xls")
winners_candidate_df

,Sno,Candidate∇,Constituency,Party,Criminal Case,Education,Total Assets,Liabilities
0,1,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+"
1,2,Abdul Sattar,SILLOD,Shiv Sena,6,Graduate,"Rs 27,77,04,390 ~ 27 Crore+","Rs 92,68,548 ~ 92 Lacs+"
2,3,Abhijeet Dhananjay Patil,MADHA,NCP-Sharadchandra Pawar,3,10th Pass,NaN,NaN
3,4,Abhimanyu Dattatray Pawar,AUSA,BJP,1,Post Graduate,"Rs 3,01,32,667 ~ 3 Crore+","Rs 19,95,000 ~ 19 Lacs+"
4,5,Abitkar Prakash Anandrao,RADHANAGARI,Shiv Sena,0,Graduate,"Rs 1,60,85,796 ~ 1 Crore+","Rs 18,56,994 ~ 18 Lacs+"
...,...,...,...,...,...,...,...,...
281,282,Vilas Sukur Tare,BOISAR (ST),Shiv Sena,0,5th Pass,NaN,NaN
282,283,Vinod Bhiva Nikole,DAHANU (ST),CPI(M),5,12th Pass,"Rs 82,01,803 ~ 82 Lacs+",Rs 0 ~
283,284,Vishwanath Atmaram Bhoir,KALYAN WEST,Shiv Sena,2,Graduate,"Rs 3,35,02,015 ~ 3 Crore+","Rs 37,83,384 ~ 37 Lacs+"
284,285,Vitthal Vakilrao Langhe,NEVASA,Shiv Sena,0,8th Pass,NaN,NaN
285,286,Yogesh Sagar,CHARKOP,BJP,2,10th Pass,"Rs 7,89,89,368 ~ 7 Crore+","Rs 2,03,77,906 ~ 2 Crore+"

In [92]:
print(total_candidates_df)
print(winners_candidate_df)

                                  Candidate  Constituency Party  \
Index
1                        Ajay Piraji Kamble    UDGIR (SC)   IND
2                      Amol Haribhau Jawale         RAVER   BJP
3                    Dr. Vijay Bhika Pagare  KALYAN  WEST   IND
4                    Madhav Narsing Mekewad        BHOKAR   IND
5      A. Kadir Mastan Sayyed (Goregaonkar)       HINGOLI   IND

       Criminal_Case              Education                 Total_Assets  \
Index
1                  0               Graduate        Rs 8,00,000 ~ 8 Lacs+
2                  0          Post Graduate  Rs 13,55,74,362 ~ 13 Crore+
3                  0  Graduate Professional                     Rs 0 ~ 0
4                  0          Post Graduate      Rs 11,85,000 ~ 11 Lacs+
5                  0               8th Pass        Rs 7,40,000 ~ 7 Lacs+

                   Liabilities  Total_Assets_Value Total_Assets_Label  \
Index
1                       Rs 0 ~              800000            8 Lacs+
2      Rs 39,65,284 ~ 39 Lacs+           135574362          13 Crore+
3                     Rs 0 ~ 0                   0                  0
4         Rs 80,000 ~ 80 Thou+             1185000           11 Lacs+
5                       Rs 0 ~              740000            7 Lacs+

       Liabilities_Value Liabilities_Label  Net_Worth Net_Worth_Words  \
Index
1                      0               NaN     800000      8.00 Lakh+
2                3965284          39 Lacs+  131609078    13.16 Crore+
3                      0                 0          0               0
4                  80000          80 Thou+    1105000     11.05 Lakh+
5                      0               NaN     740000      7.40 Lakh+

      Constituency_clean District
Index
1             UDGIR (SC)    Latur
2                  RAVER  Jalgaon
3           KALYAN  WEST    Thane
4                 BHOKAR   Nanded
5                HINGOLI  Hingoli
   Sno                 Candidate∇ Constituency                    Party  \
0    1       Amol Haribhau Jawale        RAVER                      BJP
1    2               Abdul Sattar       SILLOD                Shiv Sena
2    3   Abhijeet Dhananjay Patil        MADHA  NCP-Sharadchandra Pawar
3    4  Abhimanyu Dattatray Pawar         AUSA                      BJP
4    5   Abitkar Prakash Anandrao  RADHANAGARI                Shiv Sena

   Criminal Case      Education                 Total Assets  \
0              0  Post Graduate  Rs 13,55,74,362 ~ 13 Crore+
1              6       Graduate  Rs 27,77,04,390 ~ 27 Crore+
2              3      10th Pass                          NaN
3              1  Post Graduate    Rs 3,01,32,667 ~ 3 Crore+
4              0       Graduate    Rs 1,60,85,796 ~ 1 Crore+

               Liabilities
0  Rs 39,65,284 ~ 39 Lacs+
1  Rs 92,68,548 ~ 92 Lacs+
2                      NaN
3  Rs 19,95,000 ~ 19 Lacs+
4  Rs 18,56,994 ~ 18 Lacs+

In [20]:
total_candidates_df['Party'].unique()

array(['IND', 'BJP', 'Swarajya Nirman Sena', 'Naki Bharatiya Ekta Party',
       'SP', 'Shiv Sena', 'INC', 'Vanchit Bahujan Aaghadi', 'SDPI', 'MNS',
       'BSP', 'NCP-Sharadchandra Pawar', 'Rashtriya Samaj Paksha',
       'CPI(M)', 'NCP', 'Shiv Sena (Uddhav Balasaheb Thackeray)',
       'Republican Sena', 'Rashtriya Maratha Party',
       'Swatantra Bharat Paksha', 'Vikas India Party',
       'Rashtriya Swarajya Sena', 'Hindustan Janta Party',
       'All India Majlis-E-Ittehadul Muslimeen', 'All India Forward Bloc',
       'Peoples Party of India (Democratic)', 'Desh Janhit Party',
       'Swabhimani Paksha', 'Maharashtra Swarajya party', 'Bhim Sena',
       'Bharatiya Yuva Jan Ekta Party', 'Jan Janwadi Party',
       'Janhit Lokshahi Party', 'Aazad Samaj Party (Kanshi Ram)',
       'Ambedkarite Party of India', 'Maharashtra Vikas Aghadi',
       'Prahar Janshakti Party', 'Social Democratic Party Of India',
       'New Rashtriya Samaj Party',
       'Republican Party of India (Khobragade)',
       'Ambedkarist Republican Party', 'Peace Party', 'Tipu Sultan Party',
       'Akhil Bharatiya Muslim League (Secular)',
       'Rashtriya Ulama Council', 'Republican Party of India (A)',
       'Right to Recall Party', 'All India Majlis-E-Inquilab-E-Millat',
       'Mera Adhikaar Rashtriya Dal', 'Maharashtra Rajya Samiti',
       'Yelgar Party', 'Baliraja Party', 'Sambhaji Brigade Party', 'CPI',
       'Hamar Raj Party', 'Sainik Samaj Party',
       'Sardar Vallabhbhai Patel Party', 'Hindu Samaj Party',
       'Bharatiya Praja Surajya Paksha',
       'Peasants And Workers Party of India', 'Bharat Jan Aadhar Party',
       'Sanay Chatrapati Shasan', 'Bahujan Republican Socialist Party',
       'Bharat Adivasi Party', 'Rashtriya Samaj Dal (R)',
       'Kunbi Bahujan Sawrajya Party', 'Bahujan Maha Party',
       'Republican Paksha (Khoripa)',
       'Indian Secular Largest Assembly of Maharashtra',
       'Nirbhay Maharashtra Party', 'Jai Hind Jai Bharat Rashtriya Party',
       'Jan Surajya Shakti', 'Uttar Bhartiya Vikas Sena', 'Samata Party',
       'Bahujan Bharat Party', 'Lokrajya Party',
       'Aapki Apni Party (Peoples)', 'Rashtriya Gondvana Party',
       'Dhanwan Bharat Party', 'Lok Swarajya Party',
       'All Indian Republican Party',
       'Revolutionary Marxist Party of India',
       'Bharatheeya Jawan Kisan Party', 'Bharatiya Lokvikas Party',
       'Rashtra Samarpan Party', 'Rashtriya Yuva Swabhiman Party',
       'All India Hindustan Congress Party', 'Blue India Party',
       'Bahujan Samaj Party (Ambedkar)', 'Gondvana Gantantra Party',
       'Marxist Leninist Party of India (Red Flag)',
       'Bhartiya Dharmanirpeksha Party', 'Aadarsh Sangram Party',
       'Buland Bharat Party', 'Bhartiya Veer Kisan Party',
       'Sampoorna Bharat Kranti Party', 'Janseva Gondwana Party',
       'Lokataantrik Janaadhaar Party', 'Bhartiya Jan Samrat Party',
       'Bhartiya Tribal Party', 'Bhartiya Jan Vikas Aaghadi',
       'Digital Organization of Nation Party',
       'Viduthalai Chiruthaigal Katchi', 'Swarajya Sena (Maharashtra)',
       'Minorities Democratic Party', 'Swarajya Shakti Sena',
       'Hindustan Jansewa Paksh', 'Hindrashtra Sangh',
       'Swarajya Rashtra Nirman Sena', 'Jay Vidarbha Party',
       'Netaji Congress Sena', 'Sangharsh Sena', 'Bahujan Vikas Aaghadi',
       'Indian Union Muslim League', 'Jai Sewalal Bahujan Vikas Party',
       'Veer Janshakti Party', 'Bharatiya Congress Paksha',
       'Insaniyat Party', 'Bhartiya Navjawan Sena (Paksha)',
       'Lokmudra Janhit Party', 'Indian National League', 'JD(S)',
       'Kamgaar Kisan Party', 'Dalit Soshit Pichhara Varg Adhikar Dal',
       'Socialist Party (India)', 'SUCI(C)', 'Abhinav Bharat Party',
       'Indian Political Congress Party',
       'All India National Raksha Sena', 'Bharat Jodo Party',
       'Aim Political Party', 'Delhi Janta Party', 'Janata Congress',
       'Republican Bahujan Sena', 'Jantantrik Samta Party',
       'Lokshahi Party', 'Bhartiya Asmita Party', 'Changemakers Party',
       'Maharashtra Lokhitwadi Party', 'Rajarshi Shahu Vikas Aghadi',
       'Rashtriya Balmiki Sena Paksha', 'Abhinav Bharat Janseva Paksh',
       'Rashtriya Janmanch (Secular)', 'Peoples Union Party',
       'Marathwada Mukti Morcha', 'Lokrajya Janata Party',
       'Apni Prajahit Party', 'Nagrik Vikas Party', 'Azad Samaj Party',
       'National World Leader Party', 'Akhil Bhartiya Parivar Party',
       'Open people’s Party', 'Akhil Bharatiya Sena',
       'Republican Party of India (Reformist)',
       'Republican Party of India (Democratic )', 'Sanman Rajkiya Paksha',
       'Akhil Bhartiya Ekata Party', 'Akhand Hind Party',
       'Bhartiya Mahasangh Party', 'Lokshahi Ekta Party',
       'Samnak Janta Party'], dtype=object)

In [22]:
winners_candidate_df['Party'].unique()

array(['BJP', 'Shiv Sena', 'NCP-Sharadchandra Pawar', 'SP', 'NCP',
       'Shiv Sena (Uddhav Balasaheb Thackeray)', 'INC',
       'Jan Surajya Shakti', 'Peasants And Workers Party of India',
       'Rashtriya Samaj Paksha', 'All India Majlis-E-Ittehadul Muslimeen',
       'Rajarshi Shahu Vikas Aghadi', 'Rashtriya Yuva Swabhiman Party',
       'IND', 'CPI(M)'], dtype=object)

In [39]:
pip install rapidfuzz

Collecting rapidfuzz
  Downloading rapidfuzz-3.13.0-cp312-cp312-win_amd64.whl.metadata (12 kB)
Downloading rapidfuzz-3.13.0-cp312-cp312-win_amd64.whl (1.6 MB)
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.6 MB ? eta -:--:--
   ------------ --------------------------- 0.5/1.6 MB 2.4 MB/s eta 0:00:01
   ------------------- -------------------- 0.8/1.6 MB 2.1 MB/s eta 0:00:01
   ------------------------- -------------- 1.0/1.6 MB 1.7 MB/s eta 0:00:01
   ------------------------- -------------- 1.0/1.6 MB 1.7 MB/s eta 0:00:01
   -------------------------------- ------- 1.3/1.6 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 1.6/1.6 MB 1.1 MB/s eta 0:00:00
Installing collected packages: rapidfuzz
Successfully installed rapidfuzz-3.13.0
Note: you may need to restart the kernel to use updated packages.

In [43]:
winners_candidate_df.loc[[10, 22, 38, 77, 129]]

,Sno,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,key,Match_Key
10,11,ADV. ASHISH SHELAR,VANDRE WEST,BJP,1,Graduate Professional,"Rs 40,48,84,965 ~ 40 Crore+","Rs 1,88,45,734 ~ 1 Crore+",ADV. ASHISH SHELAR | VANDRE WEST,ADV. ASHISH SHELAR_BJP_VANDRE WEST
22,23,AMEET BHASKAR SATAM,ANDHERI WEST,BJP,0,Post Graduate,"Rs 11,57,51,268 ~ 11 Crore+","Rs 20,63,244 ~ 20 Lacs+",AMEET BHASKAR SATAM | ANDHERI WEST,AMEET BHASKAR SATAM_BJP_ANDHERI WEST
38,39,ASHOK DHARMARAJ PATIL,BHANDUP WEST,SHIV SENA,5,Graduate Professional,NaN,NaN,ASHOK DHARMARAJ PATIL | BHANDUP WEST,ASHOK DHARMARAJ PATIL_SHIV SENA_BHANDUP WEST
77,78,CHOUGHULE MAHESH PRABHAKAR,BHIWANDI WEST,BJP,5,10th Pass,NaN,NaN,CHOUGHULE MAHESH PRABHAKAR | BHIWANDI WEST,CHOUGHULE MAHESH PRABHAKAR_BJP_BHIWANDI WEST
129,130,HIRAY SEEMA MAHESH,NASHIK WEST,BJP,3,Graduate,"Rs 29,68,48,877 ~ 29 Crore+",Rs 0 ~,HIRAY SEEMA MAHESH | NASHIK WEST,HIRAY SEEMA MAHESH_BJP_NASHIK WEST

In [93]:
print(winners_candidate_df.columns)

Index(['Sno', 'Candidate∇', 'Constituency', 'Party', 'Criminal Case',
       'Education', 'Total Assets', 'Liabilities'],
      dtype='object')

In [94]:
winners_candidate_df.columns = (
    winners_candidate_df.columns
    .str.strip()              # Remove leading/trailing spaces
    .str.replace(" ", "_")    # Replace spaces with underscores
    .str.replace("∇", "", regex=True)  # Remove any special characters like ∇
    .str.lower()              # Convert to lowercase
)

In [95]:
print(winners_candidate_df.columns)

Index(['sno', 'candidate', 'constituency', 'party', 'criminal_case',
       'education', 'total_assets', 'liabilities'],
      dtype='object')

In [96]:
# Create a key column in both dataframes for matching
total_candidates_df['match_key'] = (
    total_candidates_df['candidate'].str.strip().str.upper() + "_" +
    total_candidates_df['constituency'].str.strip().str.upper() + "_" +
    total_candidates_df['party'].str.strip().str.upper()
)

winners_candidate_df['match_key'] = (
    winners_candidate_df['candidate'].str.strip().str.upper() + "_" +
    winners_candidate_df['constituency'].str.strip().str.upper() + "_" +
    winners_candidate_df['party'].str.strip().str.upper()
)

# Add Winner_Flag column
total_candidates_df['Winner_Flag'] = total_candidates_df['match_key'].isin(
    winners_candidate_df['match_key']
).astype(int)

# Optional: Add text label
total_candidates_df['Result'] = total_candidates_df['Winner_Flag'].map({1: 'Winner', 0: 'Lost'})

# Check
print(total_candidates_df[['candidate', 'constituency', 'party', 'Winner_Flag', 'Result']].head(20))

KeyError: 'candidate'

In [117]:
print(total_candidates_df.columns)
print(winners_candidate_df.columns)

Index(['Candidate', 'Constituency', 'Party', 'Criminal_Case', 'Education',
       'Total_Assets', 'Liabilities', 'Total_Assets_Value',
       'Total_Assets_Label', 'Liabilities_Value', 'Liabilities_Label',
       'Net_Worth', 'Net_Worth_Words', 'Constituency_clean', 'District',
       'match_key', 'Winner_Flag', 'Result_Label'],
      dtype='object')
Index(['sno', 'candidate', 'constituency', 'party', 'criminal_case',
       'education', 'total_assets', 'liabilities', 'match_key'],
      dtype='object')

In [104]:
# Create match_key in total_candidates_df
total_candidates_df['match_key'] = (
    total_candidates_df['Candidate'].str.strip().str.upper() + "_" +
    total_candidates_df['Constituency'].str.strip().str.upper() + "_" +
    total_candidates_df['Party'].str.strip().str.upper()
)

# Create match_key in winners_candidate_df
winners_candidate_df['match_key'] = (
    winners_candidate_df['candidate'].str.strip().str.upper() + "_" +
    winners_candidate_df['constituency'].str.strip().str.upper() + "_" +
    winners_candidate_df['party'].str.strip().str.upper()
)

In [105]:
# Add Winner_Flag: 1 if candidate is a winner, else 0
total_candidates_df['Winner_Flag'] = total_candidates_df['match_key'].isin(
    winners_candidate_df['match_key']
).astype(int)

# Add Result_Label
total_candidates_df['Result_Label'] = total_candidates_df['Winner_Flag'].apply(
    lambda x: 'Winner' if x == 1 else 'Loser'
)

In [106]:
missing_winners = winners_candidate_df[
    ~winners_candidate_df['match_key'].isin(total_candidates_df['match_key'])
]

print("Winners missing in total_candidates_df:")
print(missing_winners[['candidate','constituency','party']])

Winners missing in total_candidates_df:
                      candidate   constituency      party
10           Adv. Ashish Shelar    VANDRE WEST        BJP
22          Ameet Bhaskar Satam   ANDHERI WEST        BJP
38        Ashok Dharmaraj Patil   BHANDUP WEST  Shiv Sena
77   Choughule Mahesh Prabhakar  BHIWANDI WEST        BJP
129          Hiray Seema Mahesh    NASHIK WEST        BJP

In [107]:
total_candidates_df.head()

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label,Net_Worth,Net_Worth_Words,Constituency_clean,District,match_key,Winner_Flag,Result_Label
Index,,,,,,,,,,,,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~,800000,8 Lacs+,0,NaN,800000,8.00 Lakh+,UDGIR (SC),Latur,AJAY PIRAJI KAMBLE_UDGIR (SC)_IND,0,Loser
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+,131609078,13.16 Crore+,RAVER,Jalgaon,AMOL HARIBHAU JAWALE_RAVER_BJP,1,Winner
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,KALYAN WEST,Thane,DR. VIJAY BHIKA PAGARE_KALYAN WEST_IND,0,Loser
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+",1185000,11 Lacs+,80000,80 Thou+,1105000,11.05 Lakh+,BHOKAR,Nanded,MADHAV NARSING MEKEWAD_BHOKAR_IND,0,Loser
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~,740000,7 Lacs+,0,NaN,740000,7.40 Lakh+,HINGOLI,Hingoli,A. KADIR MASTAN SAYYED (GOREGAONKAR)_HINGOLI_IND,0,Loser

In [108]:
(total_candidates_df['Winner_Flag']).sum()

281

In [109]:
# List of match_key for missing winners
manual_winners = [
    "ADV. ASHISH SHELAR_BJP_VANDRE WEST",
    "AMEET BHASKAR SATAM_BJP_ANDHERI WEST",
    "ASHOK DHARMARAJ PATIL_SHIV SENA_BHANDUP WEST",
    "CHOUGHULE MAHESH PRABHAKAR_BJP_BHIWANDI WEST",
    "HIRAY SEEMA MAHESH_BJP_NASHIK WEST"
]

# Mark these manually in total_candidates_df
total_candidates_df.loc[
    total_candidates_df['match_key'].isin(manual_winners), 'Winner_Flag'
] = 1

# Update Result_Label
total_candidates_df.loc[
    total_candidates_df['match_key'].isin(manual_winners), 'Result_Label'
] = 'Winner'

In [110]:
(total_candidates_df['Winner_Flag']).sum()

281

In [111]:
# Verify the manual update
total_candidates_df[total_candidates_df['match_key'].isin(manual_winners)]

Empty DataFrame
Columns: [Candidate, Constituency, Party, Criminal_Case, Education, Total_Assets, Liabilities, Total_Assets_Value, Total_Assets_Label, Liabilities_Value, Liabilities_Label, Net_Worth, Net_Worth_Words, Constituency_clean, District, match_key, Winner_Flag, Result_Label]
Index: []

In [112]:
# List of indices for the missing winners
missing_indices = [10, 22, 38, 77, 129]

# Mark Winner_Flag = 1 for these rows
total_candidates_df.loc[missing_indices, 'Winner_Flag'] = 1

# Update Result_Label to "Winner" for these rows
total_candidates_df.loc[missing_indices, 'Result_Label'] = 'Winner'

# Verify the changes
total_candidates_df.loc[missing_indices, ['Candidate', 'Constituency', 'Party', 'Winner_Flag', 'Result_Label']]

,Candidate,Constituency,Party,Winner_Flag,Result_Label
Index,,,,,
10,Aakash Bhau Pawar,INDAPUR,Swarajya Nirman Sena,1,Winner
22,Abdul Hafiz Abdul Gaffar,JALNA,IND,1,Winner
38,Abhay Satish Salunke,NILANGA,INC,1,Winner
77,Adv Sanjiv Devrao Pradhan,GANGAKHED,IND,1,Winner
129,Adv. Mohsin Umar Shaikh,MEERA BHAYANDAR,IND,1,Winner

In [113]:
(total_candidates_df['Winner_Flag']).sum()

286

In [114]:
total_candidates_df[total_candidates_df['Winner_Flag'] == 1].head(10)

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label,Net_Worth,Net_Worth_Words,Constituency_clean,District,match_key,Winner_Flag,Result_Label
Index,,,,,,,,,,,,,,,,,,
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+,131609078,13.16 Crore+,RAVER,Jalgaon,AMOL HARIBHAU JAWALE_RAVER_BJP,1,Winner
10,Aakash Bhau Pawar,INDAPUR,Swarajya Nirman Sena,0,Graduate,"Rs 1,51,000 ~ 1 Lacs+",Rs 0 ~,151000,1 Lacs+,0,NaN,151000,1.51 Lakh+,INDAPUR,Pune,AAKASH BHAU PAWAR_INDAPUR_SWARAJYA NIRMAN SENA,1,Winner
22,Abdul Hafiz Abdul Gaffar,JALNA,IND,0,10th Pass,"Rs 36,53,71,069 ~ 36 Crore+","Rs 22,87,97,697 ~ 22 Crore+",365371069,36 Crore+,228797697,22 Crore+,136573372,13.66 Crore+,JALNA,Jalna,ABDUL HAFIZ ABDUL GAFFAR_JALNA_IND,1,Winner
27,Abdul Sattar,SILLOD,Shiv Sena,6,Graduate,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,SILLOD,Aurangabad,ABDUL SATTAR_SILLOD_SHIV SENA,1,Winner
38,Abhay Satish Salunke,NILANGA,INC,9,12th Pass,"Rs 68,88,549 ~ 68 Lacs+","Rs 75,75,482 ~ 75 Lacs+",6888549,68 Lacs+,7575482,75 Lacs+,-686933,0,NILANGA,Latur,ABHAY SATISH SALUNKE_NILANGA_INC,1,Winner
39,Abhijeet Dhananjay Patil,MADHA,NCP-Sharadchandra Pawar,3,10th Pass,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,MADHA,Solapur,ABHIJEET DHANANJAY PATIL_MADHA_NCP-SHARADCHAND...,1,Winner
46,Abhimanyu Dattatray Pawar,AUSA,BJP,1,Post Graduate,"Rs 3,01,32,667 ~ 3 Crore+","Rs 19,95,000 ~ 19 Lacs+",30132667,3 Crore+,1995000,19 Lacs+,28137667,2.81 Crore+,AUSA,Latur,ABHIMANYU DATTATRAY PAWAR_AUSA_BJP,1,Winner
53,Abitkar Prakash Anandrao,RADHANAGARI,Shiv Sena,0,Graduate,"Rs 1,60,85,796 ~ 1 Crore+","Rs 18,56,994 ~ 18 Lacs+",16085796,1 Crore+,1856994,18 Lacs+,14228802,1.42 Crore+,RADHANAGARI,Kolhapur,ABITKAR PRAKASH ANANDRAO_RADHANAGARI_SHIV SENA,1,Winner
54,Abu Asim Azmi,MANKHURD SHIVAJINAGAR,SP,10,Graduate,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,MANKHURD SHIVAJINAGAR,Mumbai Suburban,ABU ASIM AZMI_MANKHURD SHIVAJINAGAR_SP,1,Winner
61,Aditi Sunil Tatkare,SHRIVARDHAN,NCP,0,Post Graduate,"Rs 3,41,30,158 ~ 3 Crore+",Rs 0 ~,34130158,3 Crore+,0,NaN,34130158,3.41 Crore+,SHRIVARDHAN,Raigad,ADITI SUNIL TATKARE_SHRIVARDHAN_NCP,1,Winner

In [115]:
print((total_candidates_df['Winner_Flag'] == 1).sum())

286

In [118]:
# All constituencies
all_const = set(total_candidates_df['Constituency'].unique())

# Winners constituencies
winner_const = set(winners_candidate_df['constituency'].unique())

# Missing constituencies
missing_const = all_const - winner_const
print(missing_const)

{'GHATKOPAR  WEST', 'MALSHIRAS (SC)', 'KALYAN  WEST', 'VANDRE  WEST', 'NASHIK  WEST', 'BHANDUP  WEST', 'ANDHERI  WEST', 'MALAD  WEST', 'BHIWANDI  WEST', 'MUMBRA-KALWA'}

In [121]:
print("Unique constituencies in candidates:", total_candidates_df['Constituency'].nunique())
print("Unique constituencies in winners:", winners_candidate_df['constituency'].nunique())

Unique constituencies in candidates: 296
Unique constituencies in winners: 286

In [120]:
print(total_candidates_df.columns)
print(winners_candidate_df.columns)

Index(['Candidate', 'Constituency', 'Party', 'Criminal_Case', 'Education',
       'Total_Assets', 'Liabilities', 'Total_Assets_Value',
       'Total_Assets_Label', 'Liabilities_Value', 'Liabilities_Label',
       'Net_Worth', 'Net_Worth_Words', 'Constituency_clean', 'District',
       'match_key', 'Winner_Flag', 'Result_Label'],
      dtype='object')
Index(['sno', 'candidate', 'constituency', 'party', 'criminal_case',
       'education', 'total_assets', 'liabilities', 'match_key'],
      dtype='object')

In [122]:
# Constituencies in candidates but not in winners
missing_constituencies = set(total_candidates_df['Constituency_clean'].unique()) - set(winners_candidate_df['constituency'].unique())
print("Missing constituencies:", missing_constituencies)
print("Count:", len(missing_constituencies))

Missing constituencies: {'GHATKOPAR  WEST', 'MALSHIRAS (SC)', 'KALYAN  WEST', 'VANDRE  WEST', 'NASHIK  WEST', 'BHANDUP  WEST', 'ANDHERI  WEST', 'MALAD  WEST', 'BHIWANDI  WEST', 'MUMBRA-KALWA'}
Count: 10

In [123]:
# Find missing constituencies
missing_constituencies = set(total_candidates_df['Constituency_clean'].unique()) - set(winners_candidate_df['constituency'].unique())

# Get details (constituency + district) of missing ones
missing_with_districts = total_candidates_df[
    total_candidates_df['Constituency_clean'].isin(missing_constituencies)
][['Constituency_clean', 'District']].drop_duplicates()

print("Missing constituencies with districts:")
print(missing_with_districts)

Missing constituencies with districts:
      Constituency_clean         District
Index
3           KALYAN  WEST            Thane
93          VANDRE  WEST  Mumbai Suburban
123       MALSHIRAS (SC)              NaN
142         NASHIK  WEST           Nashik
143      GHATKOPAR  WEST  Mumbai Suburban
151        BHANDUP  WEST  Mumbai Suburban
239          MALAD  WEST  Mumbai Suburban
311        ANDHERI  WEST  Mumbai Suburban
316         MUMBRA-KALWA            Thane
502       BHIWANDI  WEST            Thane

In [124]:
# Find missing constituencies
missing_constituencies = set(total_candidates_df['Constituency_clean'].unique()) - set(winners_candidate_df['constituency'].unique())

# Get candidates, constituency, and district for missing ones
missing_candidates = total_candidates_df[
    total_candidates_df['Constituency_clean'].isin(missing_constituencies)
][['Constituency_clean', 'District', 'Candidate', 'Party']].drop_duplicates()

print("Missing constituencies with district and candidate names:")
print(missing_candidates)

Missing constituencies with district and candidate names:
      Constituency_clean         District  \
Index
3           KALYAN  WEST            Thane
93          VANDRE  WEST  Mumbai Suburban
123       MALSHIRAS (SC)              NaN
142         NASHIK  WEST           Nashik
143      GHATKOPAR  WEST  Mumbai Suburban
...                  ...              ...
3296        MUMBRA-KALWA            Thane
3610      MALSHIRAS (SC)              NaN
3676      MALSHIRAS (SC)              NaN
3716        MUMBRA-KALWA            Thane
3759      MALSHIRAS (SC)              NaN

                                  Candidate                             Party
Index
3                    Dr. Vijay Bhika Pagare                               IND
93                       Adv. Ashish Shelar                               BJP
123           Adv. Manojkumar Uttam Surwase                               IND
142               Adv. Prashant Bhika Khare                               IND
143              Adv. Raakesh Sambhaji Raul                               IND
...                                     ...                               ...
3296              Sarfaraz Sayed Ali Shaikh  Social Democratic Party Of India
3610   Sudhir Alias (Yuvraj Mama) Arjun Pol                               IND
3676                    Suraj Ashok Sartape                               BSP
3716                 Sushant Vilas Suryarao                               MNS
3759              Tribhuvan Vinayak Dhainje                               IND

[68 rows x 4 columns]

In [125]:
# Find missing constituencies
missing_constituencies = set(total_candidates_df['Constituency_clean'].unique()) - set(winners_candidate_df['constituency'].unique())

# Get details (constituency + district + candidate names) of missing ones
missing_with_details = total_candidates_df[
    total_candidates_df['Constituency_clean'].isin(missing_constituencies)
][['Constituency_clean', 'District', 'Candidate']].drop_duplicates()

print("Missing constituencies with districts and candidate names:")
print(missing_with_details)

Missing constituencies with districts and candidate names:
      Constituency_clean         District  \
Index
3           KALYAN  WEST            Thane
93          VANDRE  WEST  Mumbai Suburban
123       MALSHIRAS (SC)              NaN
142         NASHIK  WEST           Nashik
143      GHATKOPAR  WEST  Mumbai Suburban
...                  ...              ...
3296        MUMBRA-KALWA            Thane
3610      MALSHIRAS (SC)              NaN
3676      MALSHIRAS (SC)              NaN
3716        MUMBRA-KALWA            Thane
3759      MALSHIRAS (SC)              NaN

                                  Candidate
Index
3                    Dr. Vijay Bhika Pagare
93                       Adv. Ashish Shelar
123           Adv. Manojkumar Uttam Surwase
142               Adv. Prashant Bhika Khare
143              Adv. Raakesh Sambhaji Raul
...                                     ...
3296              Sarfaraz Sayed Ali Shaikh
3610   Sudhir Alias (Yuvraj Mama) Arjun Pol
3676                    Suraj Ashok Sartape
3716                 Sushant Vilas Suryarao
3759              Tribhuvan Vinayak Dhainje

[68 rows x 3 columns]

In [126]:
# Find missing constituencies
missing_constituencies = set(total_candidates_df['Constituency_clean'].unique()) - set(winners_candidate_df['constituency'].unique())

# Get details (constituency + district + candidate names) of missing ones
missing_with_districts = total_candidates_df[
    total_candidates_df['Constituency_clean'].isin(missing_constituencies)
][['Constituency_clean', 'District', 'Candidate']].drop_duplicates()

# Limit to only 10 constituencies
missing_with_districts = missing_with_districts.groupby('Constituency_clean').head(1).head(10)

print("10 Missing constituencies with district and candidate name:")
print(missing_with_districts)

10 Missing constituencies with district and candidate name:
      Constituency_clean         District                      Candidate
Index
3           KALYAN  WEST            Thane         Dr. Vijay Bhika Pagare
93          VANDRE  WEST  Mumbai Suburban             Adv. Ashish Shelar
123       MALSHIRAS (SC)              NaN  Adv. Manojkumar Uttam Surwase
142         NASHIK  WEST           Nashik      Adv. Prashant Bhika Khare
143      GHATKOPAR  WEST  Mumbai Suburban     Adv. Raakesh Sambhaji Raul
151        BHANDUP  WEST  Mumbai Suburban        Adv. Rupali Bapu Bhadke
239          MALAD  WEST  Mumbai Suburban                    Ajay Rokade
311        ANDHERI  WEST  Mumbai Suburban            Ameet Bhaskar Satam
316         MUMBRA-KALWA            Thane           Amir Abdullah Ansari
502       BHIWANDI  WEST            Thane         Arif Nizamuddin Shaikh

In [133]:
total_candidates_df.to_csv("maharashtra_total_candidate_main_.csv", index=False, encoding='utf-8-sig')

In [134]:
print(total_candidates_df.head())

                                  Candidate  Constituency Party  \
Index
1                        Ajay Piraji Kamble    UDGIR (SC)   IND
2                      Amol Haribhau Jawale         RAVER   BJP
3                    Dr. Vijay Bhika Pagare  KALYAN  WEST   IND
4                    Madhav Narsing Mekewad        BHOKAR   IND
5      A. Kadir Mastan Sayyed (Goregaonkar)       HINGOLI   IND

       Criminal_Case              Education                 Total_Assets  \
Index
1                  0               Graduate        Rs 8,00,000 ~ 8 Lacs+
2                  0          Post Graduate  Rs 13,55,74,362 ~ 13 Crore+
3                  0  Graduate Professional                     Rs 0 ~ 0
4                  0          Post Graduate      Rs 11,85,000 ~ 11 Lacs+
5                  0               8th Pass        Rs 7,40,000 ~ 7 Lacs+

                   Liabilities  Total_Assets_Value Total_Assets_Label  \
Index
1                       Rs 0 ~              800000            8 Lacs+
2      Rs 39,65,284 ~ 39 Lacs+           135574362          13 Crore+
3                     Rs 0 ~ 0                   0                  0
4         Rs 80,000 ~ 80 Thou+             1185000           11 Lacs+
5                       Rs 0 ~              740000            7 Lacs+

       Liabilities_Value Liabilities_Label  Net_Worth Net_Worth_Words  \
Index
1                      0               NaN     800000      8.00 Lakh+
2                3965284          39 Lacs+  131609078    13.16 Crore+
3                      0                 0          0               0
4                  80000          80 Thou+    1105000     11.05 Lakh+
5                      0               NaN     740000      7.40 Lakh+

      Constituency_clean District  \
Index
1             UDGIR (SC)    Latur
2                  RAVER  Jalgaon
3           KALYAN  WEST    Thane
4                 BHOKAR   Nanded
5                HINGOLI  Hingoli

                                              match_key  Winner_Flag  \
Index
1                     AJAY PIRAJI KAMBLE_UDGIR (SC)_IND            0
2                        AMOL HARIBHAU JAWALE_RAVER_BJP            1
3               DR. VIJAY BHIKA PAGARE_KALYAN  WEST_IND            0
4                     MADHAV NARSING MEKEWAD_BHOKAR_IND            0
5      A. KADIR MASTAN SAYYED (GOREGAONKAR)_HINGOLI_IND            0

      Result_Label
Index
1            Loser
2           Winner
3            Loser
4            Loser
5            Loser

In [139]:
# # Filter winners
# winners = df[df["Winner_Flag"] == 1]

# # Count party-wise winners
# party_wise_winners = winners["Party"].value_counts().reset_index()
# party_wise_winners.columns = ["Party", "Winner_Count"]

# print(party_wise_winners)

In [136]:
print((total_candidates_df['Winner_Flag'] == 1).sum())

286

In [140]:
# # Reset index and start from 1
# winner_counts = winner_counts.reset_index(drop=True)
# winner_counts.index = winner_counts.index + 1

# print(winner_counts)

In [138]:
total_candidates_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label,Net_Worth,Net_Worth_Words,Constituency_clean,District,match_key,Winner_Flag,Result_Label
Index,,,,,,,,,,,,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~,800000,8 Lacs+,0,NaN,800000,8.00 Lakh+,UDGIR (SC),Latur,AJAY PIRAJI KAMBLE_UDGIR (SC)_IND,0,Loser
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+,131609078,13.16 Crore+,RAVER,Jalgaon,AMOL HARIBHAU JAWALE_RAVER_BJP,1,Winner
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,KALYAN WEST,Thane,DR. VIJAY BHIKA PAGARE_KALYAN WEST_IND,0,Loser
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+",1185000,11 Lacs+,80000,80 Thou+,1105000,11.05 Lakh+,BHOKAR,Nanded,MADHAV NARSING MEKEWAD_BHOKAR_IND,0,Loser
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~,740000,7 Lacs+,0,NaN,740000,7.40 Lakh+,HINGOLI,Hingoli,A. KADIR MASTAN SAYYED (GOREGAONKAR)_HINGOLI_IND,0,Loser
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+",54799087,5 Crore+,39832328,3 Crore+,14966759,1.50 Crore+,AKKALKOT,Solapur,ZAMEER YAQOOBSAB SHAIKH_AKKALKOT_PRAHAR JANSHA...,0,Loser
4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+",369053000,36 Crore+,87750352,8 Crore+,281302648,28.13 Crore+,VANDRE EAST,Mumbai Suburban,ZEESHAN BABA SIDDIQUE_VANDRE EAST_NCP,0,Loser
4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,VANDRE EAST,Mumbai Suburban,ZEESHAN SIDDIQUE_VANDRE EAST_IND,0,Loser
4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~,1288066,12 Lacs+,0,NaN,1288066,12.88 Lakh+,LATUR RURAL,Latur,ZETE SACHIN VITTHAL_LATUR RURAL_IND,0,Loser
4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~,31000,31 Thou+,0,NaN,31000,31.00 Thousand+,NAGPUR CENTRAL,Nagpur,ZULFEQAR AHMAD ANSARI_NAGPUR CENTRAL_IND,0,Loser

In [142]:
total_candidates_df

,Candidate,Constituency,Party,Criminal_Case,Education,Total_Assets,Liabilities,Total_Assets_Value,Total_Assets_Label,Liabilities_Value,Liabilities_Label,Net_Worth,Net_Worth_Words,Constituency_clean,District,match_key,Winner_Flag,Result_Label
Index,,,,,,,,,,,,,,,,,,
1,Ajay Piraji Kamble,UDGIR (SC),IND,0,Graduate,"Rs 8,00,000 ~ 8 Lacs+",Rs 0 ~,800000,8 Lacs+,0,NaN,800000,8.00 Lakh+,UDGIR (SC),Latur,AJAY PIRAJI KAMBLE_UDGIR (SC)_IND,0,Loser
2,Amol Haribhau Jawale,RAVER,BJP,0,Post Graduate,"Rs 13,55,74,362 ~ 13 Crore+","Rs 39,65,284 ~ 39 Lacs+",135574362,13 Crore+,3965284,39 Lacs+,131609078,13.16 Crore+,RAVER,Jalgaon,AMOL HARIBHAU JAWALE_RAVER_BJP,1,Winner
3,Dr. Vijay Bhika Pagare,KALYAN WEST,IND,0,Graduate Professional,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,KALYAN WEST,Thane,DR. VIJAY BHIKA PAGARE_KALYAN WEST_IND,0,Loser
4,Madhav Narsing Mekewad,BHOKAR,IND,0,Post Graduate,"Rs 11,85,000 ~ 11 Lacs+","Rs 80,000 ~ 80 Thou+",1185000,11 Lacs+,80000,80 Thou+,1105000,11.05 Lakh+,BHOKAR,Nanded,MADHAV NARSING MEKEWAD_BHOKAR_IND,0,Loser
5,A. Kadir Mastan Sayyed (Goregaonkar),HINGOLI,IND,0,8th Pass,"Rs 7,40,000 ~ 7 Lacs+",Rs 0 ~,740000,7 Lacs+,0,NaN,740000,7.40 Lakh+,HINGOLI,Hingoli,A. KADIR MASTAN SAYYED (GOREGAONKAR)_HINGOLI_IND,0,Loser
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4084,Zameer Yaqoobsab Shaikh,AKKALKOT,Prahar Janshakti Party,9,12th Pass,"Rs 5,47,99,087 ~ 5 Crore+","Rs 3,98,32,328 ~ 3 Crore+",54799087,5 Crore+,39832328,3 Crore+,14966759,1.50 Crore+,AKKALKOT,Solapur,ZAMEER YAQOOBSAB SHAIKH_AKKALKOT_PRAHAR JANSHA...,0,Loser
4085,Zeeshan Baba Siddique,VANDRE EAST,NCP,4,Post Graduate,"Rs 36,90,53,000 ~ 36 Crore+","Rs 8,77,50,352 ~ 8 Crore+",369053000,36 Crore+,87750352,8 Crore+,281302648,28.13 Crore+,VANDRE EAST,Mumbai Suburban,ZEESHAN BABA SIDDIQUE_VANDRE EAST_NCP,0,Loser
4086,Zeeshan Siddique,VANDRE EAST,IND,0,12th Pass,Rs 0 ~ 0,Rs 0 ~ 0,0,0,0,0,0,0,VANDRE EAST,Mumbai Suburban,ZEESHAN SIDDIQUE_VANDRE EAST_IND,0,Loser
4087,Zete Sachin Vitthal,LATUR RURAL,IND,0,Post Graduate,"Rs 12,88,066 ~ 12 Lacs+",Rs 0 ~,1288066,12 Lacs+,0,NaN,1288066,12.88 Lakh+,LATUR RURAL,Latur,ZETE SACHIN VITTHAL_LATUR RURAL_IND,0,Loser
4088,Zulfeqar Ahmad Ansari,NAGPUR CENTRAL,IND,0,12th Pass,"Rs 31,000 ~ 31 Thou+",Rs 0 ~,31000,31 Thou+,0,NaN,31000,31.00 Thousand+,NAGPUR CENTRAL,Nagpur,ZULFEQAR AHMAD ANSARI_NAGPUR CENTRAL_IND,0,Loser

In [144]:
(total_candidates_df['Result_Label']=='Winner').sum()

286